%section.p-t_2{role: "region", "aria-label" => "Feed home"}
  .slider.__news
    .slides
      - 1.upto(5) do
        .slides_i.ctn
          .grid
            = haml '/views/common/blocks/_slide'.to_sym
            = haml '/views/common/blocks/_slide'.to_sym
    .slider_pager

%section.p-t_2.p-b_8{role: "region", "aria-label" => "Feed home"}
  .ctn
    #feed.feed.grid.m-b_6

      .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
        = haml '/views/common/blocks/_news'.to_sym
      .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
        = haml '/views/common/blocks/_place'.to_sym
      .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
        = haml '/views/common/blocks/_event'.to_sym

      -# Banner vertical
      .feed-i.grid-i.__desktop-grid-1-4.visible-desktop
        = haml '/views/banners/_banners_vertical'.to_sym

      - 1.upto(2) do
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
          = haml '/views/common/blocks/_news'.to_sym
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
          = haml '/views/common/blocks/_place'.to_sym
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
          = haml '/views/common/blocks/_event'.to_sym
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
          = haml '/views/common/blocks/_live'.to_sym
        .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__phone-grid-1-1
          = haml '/views/common/blocks/_landmark'.to_sym

    .tx.__center
      %a{href: "#", class: "load-more", id: "refresher", rel: "index"}
        .load-more_btn
          %img{src: "/assets/images/load-more.svg", width: "48", class: "load-more_img"}
        .load-more_tx
          Показать ещё