= haml '/views/common/article/_share'.to_sym
= haml '/views/common/article/_comments'.to_sym
.m-b_2.visible-desktop
  = haml '/views/banners/_banner_horizontal'.to_sym
.m-b_2
  = haml '/views/common/article/_materials'.to_sym
.visible-desktop
  = haml '/views/banners/_yandex-horizontal'.to_sym