- 1.upto(2) do
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_news'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_places'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_events'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_live'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_landmark'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/materials/_news'.to_sym