- 1.upto(2) do
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_news'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_place'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_event'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_live'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_landmark'.to_sym
  .feed-i.grid-i.__desktop-grid-1-4.__tablet-grid-1-2.__tablet-grid-1-1
    = haml '/views/common/blocks/_news'.to_sym